body {
  background-image: url('https://images.unsplash.com/photo-1612178537253-bccd437b730e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fHBhdHRlcm4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: contain;
  font-family: Arial, sans-serif;

}

.underline-text {
  text-decoration: underline;
}

h1 {
  color: black;
}

.transparent-bg {
  background-color: hsla(240, 100%, 100%, .5);
}

section {
  padding: 1rem;
  margin-top: 2rem;
}

.short-width {
  width: 75%;
}

article {
  margin-top: 3em;
}

img {
  border-style: double;
  border-width: thick;
  border-color: green;
  width: 20%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.info {
  border-style: none;

}
li {
  color: black;
  font-style: italic;
}

.info p {
  color: orange;
}
